# version: "2"
services:
  rabbit:
    container_name: nameko-example-rabbitmq
    image: rabbitmq:3.7-management
    ports:
        - "15673:15672" # Exposing RabbitMQ web management on different port for convenience
    restart: always

  mysql:
    container_name: nameko-example-mysql
    image: mysql:5.7
    ports:
      - "3307:3306" # Exposing MySQL on different port for convenience
    environment:
      MYSQL_DATABASE: "insurance"
      MYSQL_ROOT_PASSWORD: "password"
    volumes:
     - ./mysql-init:/docker-entrypoint-initdb.d
    restart: always

  insurance:
    build: ./insurance
    container_name: nameko-example-insurance
    depends_on:
      - rabbit
      - mysql
    ports:
        - "8002:8000"
    links:
        - "rabbit:nameko-example-rabbitmq"
        - "mysql:nameko-example-mysql"
    environment:
        MYSQL_HOST: "mysql"
        MYSQL_DB: "insurance"
        MYSQL_PASSWORD: "password"
        RABBIT_PASSWORD: "guest"
        RABBIT_USER: "guest"
        RABBIT_HOST: "rabbit"
        RABBIT_PORT: "5672"
        RABBIT_MANAGEMENT_PORT: "15672"

  gateway:
    build: ./gateway
    container_name: nameko-example-gateway
    depends_on:
      - rabbit
    ports:
        - "8005:8000"
    links:
        - "rabbit:nameko-example-rabbitmq"
    environment:
        RABBIT_PASSWORD: "guest"
        RABBIT_USER: "guest"
        RABBIT_HOST: "rabbit"
        RABBIT_PORT: "5672"
        RABBIT_MANAGEMENT_PORT: "15672"
